.project-card {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    background-color: #3e3e41;
    transition: all 1s;
    min-height: 300px;
}
.project-details {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 10px;
    width: 60%;
}
h1 {
    color: rgb(207, 207, 207);
}
h3 {
    margin: 0;
    padding: 0;
    text-decoration: underline;
}
#project-name {
    font-size: xx-large;
    color: rgb(204, 203, 203);
}
.main-project-img {
    height: 300px;
    width: 35%;
    object-fit: cover;
}
ul {
    margin: 0;
    padding: 0;
}

#tech-used-header {
    text-decoration: underline;
    margin: 10px 0px;
}
.live-project-link:hover {
    color: #266bd3;
}
.project-card:hover {
    box-shadow: 4px 4px 4px 5px #1d52a3;
    transform: scale(1.01)
}
@media only screen and (max-width: 600px) {
    .project-card {
        flex-direction: column;
        justify-content: space-between;
        margin: 5px;

    }
    .project-details {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding: 30px;
        width: 100%;
    }
    .main-project-img {
        width: 100%;
        /* object-fit: cover; */
    }
    #project-name {
        width: 100%;
        margin-bottom: 5px;
        /* text-align: center; */
    }
    .live-project-link {
        text-align: center;
    }
}