.contact-container {
    width: 100%;
    /* margin: 20px 0; */
    /* padding: 60px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #a9a9b3;
    color: #292a2d;
}

h1 {
    margin: 0;
    color: #292a2d; 
    font-size: xx-large;
}
hr {
    width: 30%;
    color: #292a2d;
}


.contact-section {
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    font-size: x-large;
    
}
.contact-text {
    width: 50%;
    text-align: left;
}
.social-link {
    color: #292a2d; 
}
.social-link:visited {
    color: #292a2d; 
}

@media only screen and (max-width: 600px) {
    .contact-section {
        margin: 5px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        font-size: large;
        
    }
    .contact-text {
        width: 70%;
        text-align: left;
    }
  }