.Header {
    background-color: #252627;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    box-sizing: border-box;
    padding: 0 5%;
    font-size: larger;
    color: #a9a9b3;
    height: 100px;
}
.nav-container {
    width: 300px;
}

.nav-links {
    margin:0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
